<div class="d-flex flex-row">
  <button class="btn toggle-btn" (click)="toggleSidebar()">☰</button>

  <app-course-sidebar [hidden]="sidebarHidden"></app-course-sidebar>

  <main class="main-content container-fluid">
    <h1>{{ course.titre }}</h1>

    <div *ngIf="isTeacherOrAdmin()" class="mb-3">
      <a [routerLink]="['/ajouter-contenu', course.id]" class="btn btn-primary">Ajouter un contenu</a>
    </div>

    <app-course-navbar [courseId]="course.id" [userRole]="userRole"></app-course-navbar>

    <app-file [courseId]="course._id"></app-file>
    <app-newsfeed [newsItems]="courseNewsItems"></app-newsfeed>
  </main>
</div>
