<main>
  <h1>{{ title }}</h1>
  <section id="catalogue">
    <h2>Catalogue</h2>
    <div class="tabs">
      <button class="tab-button" (click)="selectTab('users')">Utilisateurs</button>
      <button class="tab-button" (click)="selectTab('ues')">UE</button>
      <button class="tab-button" (click)="selectTab('assign')">Assigner des utilisateurs</button>
      <button class="tab-button" (click)="selectTab('logs')">Logs</button>
    </div>


    <div id="creation-zone">
      <button *ngIf="selectedTab === 'ues' && !showCreateUeForm" (click)="showCreateUeForm = true" class="sub-button">
        Créer une UE
      </button>

      <app-create-ue
        *ngIf="selectedTab === 'ues' && showCreateUeForm"
        (close)="showCreateUeForm = false"
        (refresh)="refreshList('ues')">
      </app-create-ue>
      <app-ue-list
        *ngIf="selectedTab === 'ues' && !editUeId"
        [ues]="ues"
        (edit)="onEditUe($event)"
        (refresh)="refreshList('ues')">
      </app-ue-list>
      <app-edit-ue
        *ngIf="selectedTab === 'ues' && editUeId"
        [ueId]="editUeId"
        [ue]="editUe!"
        (close)="editUeId = null">
      </app-edit-ue>
      <app-logs-list *ngIf="selectedTab === 'logs'"></app-logs-list>

      <button *ngIf="selectedTab === 'users' && !showCreateUserForm" (click)="showCreateUserForm = true" class="sub-button">
          Créer un utilisateur
        </button>
        <app-create-user
          *ngIf="selectedTab === 'users' && showCreateUserForm"
          (close)="showCreateUserForm = false"
          (refresh)="refreshList('users')">
        </app-create-user>
        <app-user-list
          *ngIf="selectedTab === 'users' && !editUserId"
          [users]="users"
          (edit)="onEditUser($event)"
          (refresh)="refreshList('users')">
        </app-user-list>
        <app-edit-user
          *ngIf="selectedTab === 'users' && editUserId"
          [userId]="editUserId"
          [user]="editUser!"
          (close)="editUserId = null">
        </app-edit-user>

        <app-assign-ue-user
          *ngIf="selectedTab === 'assign'"
          [users]="users"
          [ues]="ues"
          (close)="selectTab('users')">
        </app-assign-ue-user>

    </div>
  </section>
</main>
