<div class="form-popup">
  <h3>Créer une UE</h3>
  <form [formGroup]="ueForm" (ngSubmit)="onSubmit()" class="form-popup-stack">
    <label for="nom">Nom de l'UE</label>
    <input id="nom" type="text" formControlName="nom" />

    <label for="code">Code UE</label>
    <input id="code" type="text" formControlName="code" />

    <div class="button-group">
      <button type="submit" class="sub-button">Créer</button>
      <button type="button" class="close-form" (click)="closeForm()">Annuler</button>
    </div>
  </form>
</div>
