{% extends 'base.html.twig' %}

{% block title %}Créer une UE{% endblock %}

{% block body %}
    <h1>Créer une UE</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}