{% block body %}
    <!-- Inclusion d'une feuille de style spécifique pour l'administration -->
    <link rel="stylesheet" href="{{ asset('Styles/Admin.css') }}">

    <!-- Conteneur principal pour le formulaire de création d'un utilisateur -->
    <div class="form-popup">
        <h3>Créer un utilisateur</h3>
        <!-- Début du formulaire Symfony -->
        {{ form_start(form, { 'action': path('admin_create_user'), 'attr': { 'class': 'form-popup-stack' } }) }}
        <!-- Affichage des champs du formulaire -->
        {{ form_widget(form) }}
        <div class="button-group">
            <!-- Bouton pour soumettre le formulaire -->
            <button type="submit" class="sub-button">Créer</button>
            <!-- Bouton pour annuler et fermer le formulaire -->
            <button type="button" class="close-form" onclick="closeForm(this)">Annuler</button>
        </div>
        <!-- Fin du formulaire Symfony -->
        {{ form_end(form) }}
    </div>
{% endblock %}