{% block body %}
    <link rel="stylesheet" href="{{ asset('Styles/Admin.css') }}">
    <div class="form-popup">
        <h3>Modifier une UE</h3>
        {{ form_start(form, { 'action': path('admin_edit_ue', { 'id': ue.id }), 'attr': { 'class': 'form-popup-stack' } }) }}
        {{ form_widget(form) }}
        <div class="button-group">
            <button type="submit" class="sub-button">Modifier</button>
            <button type="button" class="close-form" onclick="closeForm(this)">Annuler</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}