<div class="container">
  <main class="main-content">
    <h1>Mes Cours</h1>

    <div class="course-controls">
      <input
        type="text"
        id="search-bar"
        placeholder="Rechercher un cours..."
        [(ngModel)]="searchTerm">
      <select id="sort-courses" (change)="updateSort($event)">
        <option value="name">Trier par nom</option>
        <option value="date">Trier par dernier accès</option>
      </select>
    </div>

    <div class="courses">
      <!-- Dynamic course cards -->
      <app-course-card
        *ngFor="let course of filterCourses()"
        [name]="course.name"
        [code]="course.code || ''"
        [imageUrl]="'/assets/images/default-course.jpg'"
        [courseUrl]="'/cours/' + course._id"
        [progression]="getCourseProgress(course._id!)"
        [nomimg]="'Image de ' + course.name">
      </app-course-card>

      <!-- If no courses available -->
      <div *ngIf="filterCourses().length === 0" class="empty-state">
        Aucun cours disponible.
      </div>
    </div>
  </main>

  <app-newsfeed [newsItems]="newsItems"></app-newsfeed>
</div>
