body {
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #007BC0;
  font-family: Arial, sans-serif;
  position: fixed; /* Ancre le menu en haut de l'écran */
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

.menu .logo-button {
  border: none;
  background: none;
  align-content: center;
  padding: 0;

}

.menu .logo-button:hover {
  background-color: transparent; /* Désactive l'effet de survol */
  cursor: pointer; /* Change le curseur en main */

}

.menu .logo {
  height: 50px;
}

.menu button {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background: none;
  outline: 3px #007BC0;
}

.menu button.right {
  float: right;

}

.menu button:hover {
  background-color: white;
  color: black;
  cursor: pointer; /* Change le curseur en main */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  padding: 10px 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:100%;
  left:0;
  width: 100%;
}
.dropdown-content a {
  color: black;
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c2c2c2;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}
.content {
  padding-top: 60px;
}


.profile-button_right .profile_picture {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -20px;

}
.menu .profile-button_right:hover {
  background-color: transparent !important; /* Désactive l'effet de survol */
}
.menu .profile_picture:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre lors du survol */

}

.dropdown_account{
  top: 10px;
  right: 10px; /* Positionne le dropdown à droite */
  position: relative;
  display: inline-block;
  float : right;


}

.dropdown-content_account {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  z-index: 1;
  top: 100% ; /* Position the dropdown content below the button */
  right: 0 ; /* Align the dropdown content to the left edge of the button */
  color: black;
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;


}

.dropdown_account:hover .dropdown-content {
  display: block;
}

.dropdown-content_account a {
  color: black;
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu .dropdown_account {
  display: block;
}


.popup  {
  display: none;
  position: fixed;
  z-index: 1002;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.popup-box{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.popup-content {
  display: flex;
  flex-direction: row;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-box .popup-button {
  display: block; /* ou inline-block, selon le contexte */
  visibility: visible;
  opacity: 1;
  background-color: #4e4949; /* Couleur de fond */
  cursor: pointer; /* Curseur de la souris */
  padding: 10px 16px; /* Espacement interne */
  margin : 10px; /* Espacement externe */
}
.popup-box .popup-button:hover {
  background-color: #c2c2c2; /* Couleur de fond au survol */
  color: black; /* Couleur du texte au survol */
  cursor: pointer; /* Curseur de la souris au survol */
}
.popup-box .profile_picture{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -20px;
}

.popup-UE {
  font-size: 20px;
  font-weight: bold;
  background-color: #fefefe;
  padding: 20px;
  width: 50%; /* Ajustez la largeur selon vos besoins */
  border-left: 2px solid #000; /* Trait de séparation à gauche */
  display: inline-block; /* Affichage en ligne */
  vertical-align: top; /* Aligner en haut */
  padding-left: 150px; /* Espace entre le trait et le texte */
}
.popup-content .profile{
  display: flex;
  margin-bottom: 20px; /* Espace entre les éléments */
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.popup-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.popup-content th, .popup-content td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.popup-content th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.popup-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

.popup-content tr:hover {
  background-color: #ddd;
}

