/*style de maud*/
body {
    background: #E0ECF9;
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

.main-content {
    background: #FFFFFF;
    margin-top : 7%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    flex-grow: 1;
}
/*
.topbar {
    width: 100%;
    background-color: #007BC0;
    color: white;
    padding: 15px 0;
    text-align: left;
    position: fixed;
    top : 0;
    left: 0;
}


.topbar ul li a:hover {
    color: black;
    background-color: #FFFFFF;
}
*/
/*fin du style de Maud*/

/*style des liens*/
a{
    color: black;
}

a:hover {
    color: #2980b9;
}

/* style des blocs de news dans la page d'accueil */
.grid-container {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    text-align: center;
    width: 60%;
    margin:5%;
    grid-column-gap: 2%;
}

.grid-container-img {
    width: 100%;
    height: 70%;
    border-radius: 3%;
}
