<div id="gradePopup" class="gradePopup">
  <div class="popup-box">
    <span class="close" (click)="closeGradePopup()">&times;</span>
    <div class="popup-content">
      <h2>Mes notes</h2>
      <table>
        <thead>
        <tr>
          <th>UE</th>
          <th>Notes</th>
          <th>Moyenne</th>
        </tr>
        </thead>

        <tbody *ngFor="let noteUe of notesParUe">
        <tr>
          <td>{{ noteUe.ueName }}</td>
          <td>{{ noteUe.notes.join(' - ') }}</td>
          <td>{{ noteUe.moyenne }}</td>
        </tr>


        <!-- Les lignes du tableau seront générées dynamiquement par JavaScript -->
        </tbody>
      </table>
    </div>
  </div>
</div>
